/* pre {
    position: relative;
    padding: 30px 10px 10px 10px;
}

.post-content pre code {
	font-family: Consolas;
}

pre::after {
    display: block;
    content: " ";
    position: absolute;
    border-radius: 50%;
    background: #ff5f56;
    width: 12px;
    height: 12px;
    top: 0;
    left: 12px;
    margin-top: 12px;
    -webkit-box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
    box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
} */